/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles de base pour mobile */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo img {
  width: 250px;
  /* Taille plus petite sur mobile */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

nav {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.menu {
  display: none;
  /* Menu masqué par défaut sur mobile */
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
button {
  width: 25%;
  font-size: 10px;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #5946dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu li {
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-size: larger;
  color: rgb(50, 149, 215);
}

.menu li:nth-child(6) {
  border-radius: 5px;
  border: 2px solid rgb(42, 156, 231);
  color: #2c6edf;
  background-color: rgb(42, 156, 231);
  padding: 5px;
  margin: 10px;
}

/* Icône burger */
.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: #2c6edf;
}

/* Active state pour le menu (au clic sur le burger) */
.menu.active {
  display: flex;
  z-index: 1;
}

.header-bottom {
  background-color: transparent;
  background-image: linear-gradient(130deg, #0700dd 0%, #00f2ff 89%);
  padding: 19px 0;
  width: 100%;
  overflow: hidden;
  clip-path: ellipse(145% 100% at 27% 0);
  max-width: 100%;
  min-height: 550px;
}
.header-bottom-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header-bottom-content .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-bottom-content .content h1 {
  width: 100%;
  font-size: 25px;
  margin: 20px 0;
  /* padding: 20px 0; */
  text-align: center;
  color: white;
}
.header-bottom-content .content p {
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  color: #ffffff;
  font-family: "Arial", Sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.4em;
}
.header-bottom-content .content button {
  width: 25%;
  font-size: 10px;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #5946dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.img-container-header-bottom {
  display: flex;
  justify-content: center;
}
.img-container-header-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container-header-bottom img {
  border-radius: 260px 100px 100px 100px;
  width: 60%;
  object-fit: cover;
}

/* ------partie Main ------------ */
.main-container-top h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 1.2em;
}
.main-container-top strong {
  font-size: 1.5em;
  font-weight: bold;
  color: #5946dd;
  /* display: flex; */
  /* gap: 10px; */
  /* justify-content: center; */
}
.main-container-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.main-container-middle .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.main-container-middle .text {
  text-align: center;
}

.main-container-middle .content h2 {
  font-size: 30px;
  line-height: 1.4em;
  color: #5946dd;
  padding: 10px 0;
}
.main-container-middle .content h3 {
  color: #3d4459;
  font-family: "Arial", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
  padding: 10px 0;
}
.main-container-middle .content p {
  color: #3d4459;
  font-family: "Arial", Sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4em;
  padding: 10px 0;
}
.main-container-middle .content .img-container {
  width: 100%;
}
.main-container-middle .content img {
  width: 70%;
  height: auto;
  padding: 20px;
}
.animated{
  margin: 20px;
  font-size: 12px;
}
.animated div:nth-child(2) {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.animated-text {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.languages {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: blink 0.75s step-end infinite;
}

.languages span {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: slide 12s infinite;
}

/* Animation de texte pour afficher différentes langues */
.languages span:nth-child(1) {
  animation-delay: 0s;
}

.languages span:nth-child(2) {
  animation-delay: 2s;
}

.languages span:nth-child(3) {
  animation-delay: 4s;
}

.languages span:nth-child(4) {
  animation-delay: 6s;
}

.languages span:nth-child(5) {
  animation-delay: 8s;
}

.languages span:nth-child(6) {
  animation-delay: 10s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Clignotement du curseur */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.ourServices{
  margin: 20px 20px;
}
.title-container{
  display: flex;
  flex-wrap: wrap;
}
.ourServices .title-container h2  {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.ourServices .title-container button {
  width: 100%;
  align-content: center;
  margin: 20px 50px;
}
/* .ourServices .services-container{

  
} */
.ourServices .services-container .card-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 20px;
}
.ourServices .services-container .card-services img {
  width: 30%;
}
.certificated{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificated-container img{
  width: 220px;
  height: auto;
  margin: 20px;
}
.footer{
  align-items: center;
}

.footer-top{
  background-color: transparent;
  background-image: linear-gradient(130deg, #0700dd 0%, #00f2ff 89%);
  padding: 19px 0;
  width: 100%;
  overflow: hidden;
  clip-path: ellipse(145% 86% at 27% 100%);
  max-width: 100%;
  min-height: 550px;
  color: #fff;
  padding-top: 20%;
}
.footer-top-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-top-right{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.footer-top-right img{
  width: 250px;
  border-radius: 260px 100px 100px 100px;
  
}



/* --------------Styles pour les écrans plus larges--------------- */
@media (min-width: 768px) {
  .menu li {
    padding: 15px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    color: rgb(50, 149, 215);
  }

  .menu li:nth-child(6) {
    border-radius: 5px;
    border: 2px solid rgb(42, 156, 231);
    color: #2c6edf;
    background-color: rgb(42, 156, 231);
    padding: 5px;
    margin: 10px;
  }
  .header-bottom {
    min-height: 750px;
  }
  .header-bottom .title {
    width: 100%;
    text-align: center;
  }
  .header-bottom .title h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .header-bottom-content .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-bottom-content .content p {
    width: 100%;
    text-align: center;
    font-family: "Arial", Sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.4em;
  }

  .header-bottom-content .content button {
    font-size: 10px;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #5946dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .img-container-header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-container-header-bottom img {
    width: 55%;
  }

  /* --------Main -------------- */
  .main-container-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .main-container-middle .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-container-middle .text {
    width: 50%;
    text-align: center;
    margin-top: 120px;
  }
  .main-container-middle .content h2 {
    font-size: 26px;
    color: #5946dd;
  }
  .main-container-middle .content p {
    color: #3d4459;
    font-family: "Arial", Sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4em;
    padding: 10px;
  }
  .main-container-middle .content .img-container {
    width: 50%;
    display: flex;
  }
  .main-container-middle .content img {
    width: 60%;
    height: auto;
    padding: 20px;
  }
}
/* ------ ecran large ------------ */

@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    gap: 20px;
    align-items: center;
  }

  .menu li {
    font-size: 18px;
    padding: 10px;
    text-align: left;
    color: #2c6edf;
  }
  .menu li:nth-child(6) {
    border-radius: 5px;
    border: 2px solid rgb(42, 156, 231);
    color: #2c6edf;
    background-color: rgb(42, 156, 231);
  }
  .burger-menu {
    display: none;
  }

  .logo img {
    width: 150px;
    height: auto;
  }
  .menu button {
    border-radius: 5px;
    border: 2px solid rgb(42, 156, 231);
    color: white;
    background-color: rgb(42, 156, 231);
    margin-top: 0;
  }
  .header-bottom-content {
    flex-wrap: wrap;
    padding-top: 200px;
  }
  .header-bottom-content .content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-bottom .title h1 {
    font-size: 45px;
    margin: 20px 0 0 10px;
}
  .header-bottom-content .content p {
    width: 100%;
    font-size: 22px;
  }
  .img-container-header-bottom {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-container-header-bottom img {
    width: 65%;
  }
  /* main  */
  .main-container-middle .content img {
    width: 70%;
    height: auto;
    padding: 20px;
}
.main-container-middle .content h2 {
  font-size: 36px;
  color: #5946dd;
}
.ourServices{
  margin: 20px 50px;
}
.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services-container .card-services{
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-container .card-services img{
  width: 100px;
  height: auto;
}
.certificated{
  margin: 20px 45px;
}
.certificated-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.certificated-container img{
  width: 210px;
  height: auto;
  margin: 15px;
}

}
